doctype html
html
  head
    title Oriel College Commemoration Ball 2015 - Tickets
    include ../imports
    link(rel='stylesheet', href='/stylesheets/jquery.flipcountdown.css')
    script(type='text/javascript', src='/javascripts/jquery.flipcountdown.js')
    script(type='text/javascript').
      $(document).ready(function(){
          $('#timecountdown').flipcountdown({
            size: 'lg',
            beforeDateTime: !{'\''+(date.getMonth()+1) + '/' + date.getDate() + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()+'\''}
          }) 
          $('.xdsoft_space').addClass('xdsoft_separator')
          $('.xdsoft_space').removeClass('xdsoft_space')
        })
  body
    .content
      .row.text-center(style='padding-top:20%')
        h1 Tickets open in 
        #timecountdown
        h5 You will need your Bod card and a credit or debit card
          br
          small This page will automatically update
