doctype html
html
  head
    title Oriel College Commemoration Ball 2015 - Tickets
    include ../imports
    link(rel='stylesheet', href='/stylesheets/flipclock.css')
    script(type='text/javascript', src='/javascripts/flipclock.min.js')
    script(type='text/javascript').
      var offset = !{date.valueOf()} - Date.now()
      $(document).ready(function(){
        var countdown = $('#countdown').FlipClock(offset/1000,{
          countdown: true,
          clockFace: 'DailyCounter'
          })
        if (offset > 100 * 24 * 60 * 60 *1000)
          $('.col-centered').css('width','785px')
      })
  body
    include ../header
    .container-fluid
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center(style='margin-top:10%')
          span.fa-stack.fa-5x.fa-lg
              i.fa.fa-ticket.fa-stack-2x
          br
          h1 Tickets open in:
      .row
        .col-xs-12(style='width:715px;margin-top:20px').col-centered
            .well
              #countdown
      if orielOnly
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center(style='margin-bottom:10%')
            h5: small If you are an Oriel member trying to buy tickets, make sure you are connected to the Oriel network
      if (date-Date.now() < 60*60*1000)
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center
            h5 You will need your Bod card and a credit or debit card
              br
              small This page will automatically update
              script.
                setTimeout(function(){location.reload()},offset+500)