doctype html
html
  head
    title Oriel College Commemoration Ball 2015 - Tickets
    include ../imports
    script(type='text/javascript', src='https://addthisevent.com/libs/1.5.8/ate.min.js')
  body
    h2 Success
    p.
      Your ticket purchase was successful. You should receive a confirmation email shortly
    a.addthisevent(href='http://example.com/link-to-your-event' title='Add to Calendar')
      Add to Calendar
      span._start 26-06-2015 18:30:00
      span._end 27-06-2015 06:00:00
      span._zonecode 36
      span._location Oriel College
      span._summary Oriel College Commemoration Ball
      span._description Desc.
      span._facebook_event http://www.facebook.com/events/160427380695693
