doctype html
html
  head
    include imports
    title Oriel College Commemoration Ball 2015 - Error
  body
    include header
    .container-fluid
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center(style='margin-top:10%')
          span.fa-stack.fa-5x.fa-lg
            i.fa.fa-times-circle-o.fa-stack-2x
          h1 #{type} #{(type == 404)?'Not found':'Server'} error
          .alert.alert-danger(role='alert')= error