nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
  .container-fluid
      ul.nav.navbar-nav.navbar-left.hidden-xs 
        li
          a(href='/')
            i.fa.fa-angle-left
            | &nbsp;Back
a(href='/')
  img#logo(src='/icons/logoSmall.png',alt='Logo')