link(rel='shortcut icon', href="/images/favicon.png")
link(rel='apple-touch-icon-preprocessed', href='images/touchicon.png')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js') 
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript') (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-19759111-3', 'auto');ga('send', 'pageview');
meta(name="viewport" content="width=device-width, initial-scale=1")
