@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

html body {
  margin-top: 50px;
  position: relative;
  font-family: Droid Serif;
}
.container-fluid .row {
  padding: 20px;
}
nav {
  position: relative;
}
.container-fluid .row .row {
  padding: 0px;
}
#top {
  background: url('/images/main/bg.jpg');
  color: white;
  position: relative;
}

#top .col-md-6 {
  position: absolute;
  bottom: 5%;
}

#logo {
  z-index:1031;
  position: fixed;
  left: 50%;
  top: 100px;
  cursor: pointer; 
  cursor: hand;
}

#trailer {
  background: #000;
  padding: 0px;
  height: 600px;
}
#trailer .col-xs-12 {
  width:100%;
  height:100%;
  padding:0px
}
#entertainment, #fooddrink, #sponsoring, #news {
background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );

}
#sponsoring img {
  width:100%;
  margin: 0px 0px 20px 0px;
}

#tickets {
  background: #832;
  color: white;
}

.row img {
 margin: 20px;
}

p {
  font-size: 12px;
}

